<div class="container flex justify-space-between main-card">
  <div class ="row justify-content-center align-items-end">
      <h3 class = "col-3">test</h3>
      <p class="col-8"> test</p>
    </div>
  </div>
</div>

<div class="row justify-content-between fixed-bottom p-2">
  <div class="col-4">
    <button type ="button" class="btn btn-primary skip-btn" id="skip">Skip</button>
  </div>
   <div class="col-4">
  <button type="button" class="btn btn-primary match-btn p-2" id="match-button">
   Matches
</button>
  </div>
  <div class="col-4">
  <button type="button" class="btn btn-primary like-btn p-2" id="like">Like </button>
  </div>
</div>

<script src="/js/homepage.js"></script>